@font-face {
    font-family: Honk;
    src: url('fonts/Honk/Honk-Regular-VariableFont_MORF\,SHLN.ttf');
}

@font-face {
    font-family: Cause;
    src: url('fonts/Cause/Cause-VariableFont_wght.ttf');
}

@font-face {
    font-family: Indie_Flower;
    src: url('fonts/Indie_Flower/IndieFlower-Regular.ttf');
}

* {
    margin: 0;
}

body {
    background-color:azure;
    display: flex;
    height: 100vh;
    flex-flow: column;
    margin: 0;
    font-family: Honk;
}

#header {
    background-color: paleturquoise;
    display: flex;
    height: 30%;
    width: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

#header > img {
    height: 110%;
}

#header-box {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    width: 42%;
    height: 10%;
}

#heading-header {
    font-size: 19vh;
}

#heading2-header {
    font-size: 3.5vh;
    font-family: monospace;
    display: flex;
    flex-wrap: nowrap;
}

#about {
    background-color: lightblue;
    display: flex;
    flex-flow: column wrap;
    justify-content: space-evenly;
    align-items: center;
    height: 22%;
    width: 100%;
}

#heading-about {
    font-size: 4.3vh;
}

#text-about {
    width: 85%;
    align-self: center;
    font-size: 1.95vh;
    font-family: monospace;
    line-height: 1.5;
}

#achievements {
    background-color: lightpink;
    display: flex;
    height: 23%;
    width: 100%;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

#achievements > img {
    height: 80%;
}

#achievements-box {
    display: flex;
    flex-flow: column wrap;
    justify-content: space-evenly;
    align-items: center;
    width: 35%;
}

#heading-achievements {
    font-size: 4.3vh;
}

#list-achievements {
    align-self: center;
    font-size: 1.95vh;
    font-family: monospace;
    line-height: 1.15;
}

#footer {
    background-color: lightgreen;
    display: flex;
    height: 25%;
    width: 100%;
    flex-flow: column wrap;
    justify-content: space-evenly;
    align-items: center;
}

#footer-box {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: 65%;
    width: 99%;
}

#footer-box > img {
    height: 100%;
}

#heading-footer {
    font-size: 4.3vh;
}