@font-face {
    font-family: Honk;
    src: url('fonts/Honk/Honk-Regular-VariableFont_MORF\,SHLN.ttf');
}

@font-face {
    font-family: Cause;
    src: url('fonts/Cause/Cause-VariableFont_wght.ttf');
}

@font-face {
    font-family: Indie_Flower;
    src: url('fonts/Indie_Flower/IndieFlower-Regular.ttf');
}

* {
    margin: 0;
}

body {
    display: flex;
    flex-flow: column;

    height: 100vh;

    margin: 0;
    background-color:azure;
    font-family: Honk;
}

#header {

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;

    height: 30%;
    width: 100%;

    background-color: paleturquoise;
}

#header > img {
    height: 110%;
}

#header-box {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;

    width: 42%;
    height: 10%;
}

#heading-header {
    font-size: 19vh;
}

#heading2-header {
    display: flex;
    flex-wrap: nowrap;

    font-size: 3.5vh;
    font-family: monospace;
}

#about {
    display: flex;
    flex-flow: column wrap;
    justify-content: space-evenly;
    align-items: center;

    height: 22%;
    width: 100%;

    text-align: justify;
    background-color: lightblue;
}

#heading-about {
    font-size: 4.3vh;
}

#text-about {
    width: 85%;

    font-size: 1.95vh;
    font-family: monospace;
    line-height: 1.5;
}

#achievements {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

    height: 23%;
    width: 100%;

    background-color: lightpink;
}

#achievements > img {
    height: 80%;
}

#achievements-box {
    display: flex;
    flex-flow: column wrap;
    justify-content: space-evenly;
    align-items: center;

    width: 35%;
}

#heading-achievements {
    font-size: 4.3vh;
}

#list-achievements {
    font-size: 1.95vh;
    font-family: monospace;
    line-height: 1.3;
}

#footer {
    display: flex;
    flex-flow: column wrap;
    justify-content: space-evenly;
    align-items: center;
    
    height: 25%;
    width: 100%;

    background-color: lightgreen;
}

#footer-box {
    display: flex;
    flex-direction: row;
    justify-content: space-around;

    height: 65%;
    width: 99%;
}

#footer-box > img {
    height: 100%;
}

#heading-footer {
    font-size: 4.3vh;
}